.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  text-align: left;
}

.select_box {
  border-radius: 3px;
  padding: 8px;
  background-color: var(--color-basic-bg);
  color: var(--color-light-green);
  margin-left: 5px;
}

label {
  color: var(--color-green);
  position: relative;
}

.label__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.label-check {
  margin-top: 25px;
}
.label-check__input {
  margin-bottom: 20px;
  margin-left: 50px;
  padding: 4px;
}

.popup-inner {
  background-color: rgb(210, 248, 149);
  color: var(--color-light-green);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 650px;
  overflow: auto;
  z-index: 20;
  max-height: calc(100vh - 4rem);
}
.popup-inner__close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup h2 {
  margin-bottom: 1rem;
  color: var(--color-light-green);
}

.form-group {
  margin-bottom: 1rem;
  color: var(--color-light-green);
}
.form-group__input {
  padding: 20px;
  text-align: start;
}
.form-group__input-img {
  padding: 15px 0px 35px 10px;
  text-align: start;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

input,
textarea {
  color: var(--color-light-green);
  display: block;
  width: 100%;
  padding: 0.5rem;
  resize: vertical;
  max-height: 200px;
  margin-bottom: 0.5rem;
}

textarea {
  width: 95%;
  height: auto;
}

.form-group label {
  color: var(--color-light-green);
  display: block;
  margin-bottom: 0.5rem;
}

.form-group button {
  margin-top: 1rem;
  display: inline;
}

.two_buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.recipe {
  background: var(--color-bg-tint);
  display: flex;
  flex-direction: column;
  line-height: 1.7em;
  font-size: 16px;
  font-weight: 400;
}
.recipe__title {
  margin: 2em;
  margin-bottom: 0;
  font-size: 28px;
  color: white;
  text-shadow: 1px 1px var(--color-accent);
}
.recipe__button {
  width: 150px;
  margin: 20px 0px 20px 490px;
  color: var(--color-accent);
  background-color: var(--color-basic-bg);
}
.recipe__list {
  margin-top: 150px;
  margin-right: -16px;
  line-height: 1.7em;
  font-size: 16px;
  font-weight: 400;
}

.recipe-item {
  margin: 10em;
  background-color: var(--color-bg-tint);
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-top: 0;
  height: 200px;
  line-height: 1.7em;
  font-size: 16px;
  font-weight: 400;
}
.recipe-item__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: -480px;
}
.recipe-item__title {
  width: 350px;
  display: flex;
  align-items: flex-start;
  color: var(--color-accent);
}
.recipe-item__detail {
  margin-top: -20px;
  display: flex;
  align-items: flex-start;
}
.recipe-item__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
  height: 200px;
  transform: translateY(-50%);
  position: absolute;
  border-radius: 15px;
}
.recipe-item__content {
  display: flex;
  margin-top: 90px;
  margin-left: -350px;
}
.recipe-item__btn {
  width: 55px;
  height: 55px;
  margin: 10px 5px;
  box-shadow: var(--color-light-green) 0px 0px 0px 1px;
  background-color: rgb(210, 248, 149);
  color: var(--color-light-green);
  border: 1px solid var(--color-light-green);
}
.recipe-item__btn-icon {
  width: 20px;
  height: 20px;
}

.labels {
  display: flex;
  flex-direction: column;
  margin-left: 140px;
  margin-top: -250px;
  font-size: 16px;
}
.labels__labels {
  flex-direction: column;
}
.labels__info {
  justify-content: flex-end;
}

.numbre_container {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.numbre_button {
  box-shadow: var(--color-light-green) 0px 0px 0px 1px;
  background-color: rgb(210, 248, 149);
  color: var(--color-light-green);
  border: 1px solid var(--color-light-green);
  padding-right: 24px;
  display: inline-flex;
  text-decoration: none;
}

.aside {
  display: flex;
  justify-content: space-around;
  margin-left: -50px;
  color: black;
  font-size: 14px;
  padding-left: 4em;
}

.cont_principal {
  position: absolute;
  margin: 250px;
  width: 100%;
  height: 100%;
  background: rgb(251, 250, 246);
  /* Old browsers */
  background: linear-gradient(135deg, rgb(251, 250, 246) 9%, rgb(212, 206, 191) 74%, rgb(212, 206, 191) 74%, rgb(212, 206, 191) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.cont_central {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -200px;
}

.cont_modal {
  position: relative;
  width: 300px;
  height: 400px;
  transition: all 0.5s;
  transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_photo {
  position: relative;
  width: 300px;
  height: 440px;
  overflow: hidden;
  background-color: var(--color-text);
  border-radius: 5px;
  top: -20px;
  float: left;
  z-index: 2;
  transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
}

.cont_img_back {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.cont_img_back > img {
  width: 100%;
  opacity: 0.7;
  transition: all 0.5s;
  transition: all 1s;
}

.cont_img_back:hover > img {
  transform: scale(1.5);
}

.cont_text_ingredients {
  position: absolute;
  width: 0px;
  top: 0px;
  margin-top: 60px;
  margin-left: 10px;
  height: 400px;
  float: left;
  border-radius: 5px;
  z-index: 3;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.2);
}

.cont_mins {
  position: relative;
  float: left;
  width: 100%;
}

.sub_mins {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 253, 112, 0.8);
  border-radius: 50%;
  margin: 16px;
  margin-bottom: 0px;
  opacity: 0;
  transition: all 0.5s;
  transition: all 0.5s;
  transition-delay: 1s;
  transition-delay: 1s;
}

.sub_mins > h3 {
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: -15px;
}

.sub_mins > span {
  font-size: 9px;
  font-weight: 700;
}

.cont_servings {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 253, 112, 0.8);
  border-radius: 50%;
  margin: 16px;
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.cont_servings > h3 {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: -15px;
}

.cont_servings > span {
  font-size: 9px;
  font-weight: 700;
}

.cont_icon_right {
  position: relative;
  float: right;
  margin-top: 16px;
}

.cont_icon_right > a {
  margin: 16px;
  margin-top: 16px;
  color: #fff;
}

.cont_detalles {
  position: absolute;
  bottom: -185px;
  height: 200px;
  border-radius: 5px;
  width: 100%;
  transition: all 0.5s;
  transition-delay: 1.2s;
  transition-delay: 0.7s;
}

.cont_detalles > h3 {
  margin-top: 50px;
  color: #fff;
  font-size: 24px;
}

.cont_detalles > p {
  color: #fff;
  width: 80%;
  text-align: left;
  font-size: 14px;
}

/* ---------------- Css Tabs -------- */
.cont_tabs {
  position: relative;
  float: left;
  width: 410px;
  height: 60px;
  border-bottom: 3px solid #ededec;
}

.cont_tabs > ul {
  width: 300px;
  background-color: #eee;
}

.cont_tabs > ul > li {
  position: relative;
  float: left;
  width: 50%;
  list-style: none;
}

.cont_tabs > ul > li > a {
  border-top: 7px solid rgb(6, 122, 70);
  position: relative;
  display: block;
  float: left;
  padding-top: 15px;
  color: #241c3e;
  text-decoration: none;
  margin-left: 15px;
  font-size: 14px;
}

.cont_tabs > ul > li:first-child > a {
  border-top: 7px solid rgba(237, 52, 108, 0);
  margin-top: 0px;
  color: #9a96a4;
  transition: all 0.5s;
  transition: all 0.2s;
}

.cont_tabs > ul > li:first-child > a:hover {
  border-top: 7px solid var(--color-light-green);
  padding-top: 15px;
  color: #241c3e;
  margin-top: 0px;
}

.cont_btn_open_dets {
  position: absolute;
  right: -15px;
  top: 50%;
}

.cont_btn_open_dets > a {
  display: block;
  padding-top: 5px;
  width: 30px;
  height: 30px;
  background-color: var(--color-light-green);
  border-radius: 50%;
  color: #fff;
  box-shadow: 0px 0px 20px -2px var(--color-light-green);
  transition: all 0.5s;
  transition: all 0.5s;
  transform: rotate(180deg);
}

.cont_btn_open_dets > a > i {
  margin-top: 4px;
}

.cont_title_preparation {
  position: relative;
  float: left;
  margin: 10px 0px 0px 40px;
}

.cont_title_preparation > p {
  font-weight: 700;
  font-size: 14px;
  margin-left: 40px;
  text-align: left;
  color: #36354e;
}

.cont_info_preparation {
  position: relative;
  float: left;
}

.cont_info_preparation > p {
  margin: 5px 0px;
  margin-left: 50px;
  border-left: 2px solid #e3e3e3;
  font-size: 12px;
  padding: 20px 0px;
  padding-left: 20px;
  text-align: left;
  padding-right: 15px;
  color: #565656;
}

.cont_btn_mas_dets {
  position: absolute;
  bottom: 0px;
  left: 50%;
}

.cont_btn_mas_dets > a {
  color: #36354e;
}

.cont_over_hidden {
  position: relative;
  float: left;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.cont_text_det_preparation {
  position: relative;
  margin-left: 150px;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cont_modal_active > .cont_text_ingredients > .cont_btn_open_dets > a {
  transform: rotate(0deg);
}

.cont_modal_active > .cont_text_ingredients {
  width: 410px;
  left: 285px;
  z-index: 1;
  box-shadow: 15px 20px 70px -5px rgba(0, 0, 0, 0.2);
}

.cont_modal_active {
  width: 700px;
}

.cont_modal_active > .cont_photo {
  box-shadow: 25px 10px 70px -5px rgba(0, 0, 0, 0.3);
}

.cont_modal_active > .cont_photo > .cont_mins > .sub_mins {
  opacity: 1;
}

.cont_modal_active > .cont_photo > .cont_servings {
  opacity: 1;
}

.cont_modal_active > .cont_photo > .cont_detalles {
  bottom: 0px;
}

.weeklyMenu-container {
  background-color: var(--color-bg-tint);
  margin-top: 280px;
}

.WeeklyMenu {
  margin: 20px;
}
.WeeklyMenu__container {
  display: flex;
  flex-grow: 4;
  justify-content: space-around;
  width: 80%;
  margin-left: 100px;
}
.WeeklyMenu__container__title {
  color: var(--color-accent);
  margin-top: -20px;
}
.WeeklyMenu__item {
  margin-bottom: 10px;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin-left: 20px;
  background-color: var(--color-basic-bg);
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
}
.WeeklyMenu__title {
  justify-content: center;
  color: var(--color-accent);
  text-shadow: 2px 2px wheat;
}
.WeeklyMenu__btn-group {
  display: flex;
  align-items: flex-end;
  width: 15px;
  margin: -38px 1px 10px 1px;
}
.WeeklyMenu__btn {
  width: 5px;
  height: 5px;
  background-color: transparent;
  color: var(--color-accent);
  display: flex;
  flex-direction: row;
}

.previous {
  background-color: transparent;
  border: var(--color-accent) solid 1px;
  border-radius: 999px;
  cursor: pointer;
  height: 45px;
  outline: none;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 450px;
}
.previous__icon {
  font-size: 25px;
  color: var(--color-accent);
}

.next {
  background-color: transparent;
  border: var(--color-accent) solid 1px;
  border-radius: 999px;
  cursor: pointer;
  height: 45px;
  outline: none;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 450px;
  margin-top: -50px;
}
.next__icon {
  font-size: 25px;
  color: var(--color-accent);
}

.chefshad-rating {
  position: relative;
  display: flex;
  z-index: 200;
  height: 15px;
  width: 15px;
  margin: 5px;
}

.btn__rating {
  margin-right: 5px;
  height: 40px;
  width: 40px;
  background-color: var(--color-bg-tint);
}
.btn__icon {
  height: 20px;
  width: 20px;
  margin-bottom: 20px;
}/*# sourceMappingURL=recipe.css.map */