/* :root {
  --color-text: hsl(10, 80.2%, 10%);
  --color-accent: rgb(124, 13, 14);
  --color-bg-tint: hsl(43, 95%, 51%, 20%);
}

/* elements that change color */
/* .background: {
  color: var(--color-text);
}

.color: {
  color: var(--color-accent);
} */ */
